.cart-header__link {
  display: block;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;

  .cart-header--img & {
    @media (max-width: $tablet-width-max) {
      height: 18px;
      width: 20px;
      background-image: url("../img/cart-icon.svg");
    }
  }

  .page-header--menu-open .cart-header--img & {
    @media (max-width: $tablet-width-max) {
      background-image: url("../img/cart-white-icon.svg");
    }
  }
}

.cart-header--img .cart-header__text,
.cart-header--img .cart-header__counter {
  @media (max-width: $tablet-width-max) {
    @include visually-hidden();
  }
}
