.catalog-grid {
  width: 74.36%;

  @media (max-width: $tablet-width-max) {
    width: 100%;
  }
}

.catalog-grid__list {
  @include list-reset();
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: -40px;
}

.catalog-grid__item {
  width: calc((100% - 90px) / 3);
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 40px;

  @media (max-width: $mobile-width-max) {
    width: calc((100% - 60px) / 2);
  }
}

.catalog-grid__pages-list {
  @include list-reset();
  display: flex;
  margin-top: 80px;
}

.catalog-grid__pages-item {
  margin-left: 10px;
  margin-right: 10px;
  font-weight: 500;
  color: #9b9997;

  &--previous {
    margin-left: 0;
    margin-right: auto;
    color: $black;
  }

  &--current {
    color: $black;
  }

  &--next {
    margin-left: auto;
    margin-right: 0;
    color: $black;
  }
}

.catalog-grid__pages-link {
  color: inherit;

  &:hover,
  &:focus {
    color: $brand-color;
  }
}
