.catalog-grid {
  width: 74.36%;

  @media (max-width: $tablet-width-max) {
    width: 100%;
  }
}

.catalog-grid__list {
  @include list-reset();
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: -36px;
}

.catalog-grid__item {
  width: calc((100% - 90px) / 3);
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 36px;

  @media (max-width: $mobile-width-max) {
    width: calc((100% - 60px) / 2);
    margin-bottom: 26px;
  }
}

.catalog-grid__pages-list {
  @include list-reset();
  display: flex;
  margin-top: 72px;

  @media (max-width: $mobile-width-max) {
    justify-content: center;
    margin-top: 53px;
  }
}

.catalog-grid__pages-item {
  margin-left: 0;
  margin-right: 12px;
  font-weight: 500;
  color: #9b9997;

  @media (max-width: $mobile-width-max) {
    margin-right: 23px;
  }

  &--previous {
    margin-left: 0;
    margin-right: auto;
    color: $black;

    @media (max-width: $mobile-width-max) {
      display: none;
    }
  }

  &--current {
    color: $black;
  }

  &--next {
    margin-left: auto;
    margin-right: 0;
    color: $black;

    @media (max-width: $mobile-width-max) {
      display: none;
    }
  }

  &:nth-child(2) {
    margin-left: -23px;

    @media (max-width: $mobile-width-max) {
      margin-left: 23px;
    }
  }
}

.catalog-grid__pages-link {
  color: inherit;

  &:hover,
  &:focus {
    color: $brand-color;
  }
}
