.catalog-grid {
  width: 74.36%;
}

.catalog-grid__list {
  @include list-reset();
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.catalog-grid__item {
  width: calc((100% - 90px) / 3);
  margin-left: 15px;
  margin-right: 15px;
}
