.catalog {
  @include container();
  display: flex;
  padding-top: 80px;

  @media (max-width: $tablet-width-max) {
    flex-wrap: wrap;
  }
}

.catalog__filter {
  width: 21.36%;
  margin-right: 4.27%;

  @media (max-width: $tablet-width-max) {
    width: 100%;
    margin-right: 0;
    margin-bottom: 50px;
  }
}
