.footer-menu {
  margin-bottom: -22px;

  @media (max-width: $mobile-width-max) {
    width: 100%;
  }
}

.footer-menu__list {
  @include list-reset();
}

.footer-menu__item {
  width: 177px;
  margin-bottom: 22px;

  @media (max-width: $tablet-width-max) {
    width: 168px;
  }
}

.footer-menu__link {
  color: $white;
  font-weight: 500;
  font-size: 16px;

  @media (max-width: $desktop-width-middle) and (min-width: $desktop-width-min) {
    font-size: 12px;
  }

  &:hover,
  &:focus {
    opacity: 0.8;
  }
}
