.gallery {
  @include container();
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  padding-top: 119px;

  @media (max-width: $tablet-width-max) {
    margin-bottom: 63px;
    padding-top: 84px;
  }

  @media (max-width: $mobile-width-max) {
    margin-bottom: 322px;
    padding-top: 70px;
  }
}

.gallery__title {
  margin-top: -10px;
  margin-bottom: 30px;
  align-self: center;
  font-family: $title-font-family;
  font-weight: 700;
  font-size: 34px;
  letter-spacing: 0.03em;

  @media (max-width: $tablet-width-max) {
    margin-bottom: 20px;
  }
}

.gallery__link {
  align-self: center;
  padding-bottom: 5px;
  border-bottom: 1px solid $brand-color;
  text-align: center;
  font-weight: 500;
  color: $black;

  @media (max-width: $tablet-width-max) {
    padding-bottom: 4px;
  }
}

.gallery__list {
  @include list-reset();
  min-width: 100%;
  margin-top: 60px;
  margin-left: -1.28205%; // 15px / 11.7
  margin-right: -1.28205%; // 15px / 11.7

  @media (max-width: $mobile-width-max) {
    margin-top: 46px;
  //   margin-left: -2.586%; //7.5px / 2.9
  //   margin-right: -2.586%; //7.5px / 2.9
  }
}

.gallery__item {
  display: block;
  max-width: 100%;
  margin-bottom: 2.5%; // 30px / 12
  margin-left: 1.23%; // 15px / 12
  margin-right: 1.23%; // 15px / 12

  &--1 {
    width: 19.1667%; // 230px
  }

  &--2 {
    width: 33.3333%; //400px
  }

  &--3 {
    width: 19.3333%; //232px
  }

  &--4 {
    width: 18.1667%; //218px
  }

  &--5 {
    width: 18.1667%; //218px
  }

  &--6 {
    width: 19.3333%; //232px
  }

  &--7 {
    width: 19.1667%; //230px
  }
}

.gallery__img {
  display: block;
}
