.login-form form {
  display: flex;
  flex-wrap: wrap;
}

.login-form input,
.login-form textarea {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  padding-top: 9px;
  padding-bottom: 8px;
  border: none;
  border-bottom: 1px solid $gray-dark;
  background-color: transparent;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: $gray-light;

  &::placeholder {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: $gray-light;
  }

  &:hover,
  &:focus {
    box-shadow: 0 0 0 3px $brand-color;
  }
}

.login-form input[type="email"] {
  margin-bottom: 25px;

  @media (max-width: $mobile-width-max) {
    margin-bottom: 21px;
  }
}

.login-form input[type="password"] + a {
  margin-top: 6px;
  margin-left: auto;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: $gray-light;

  &:hover,
  &:focus {
    color: $brand-color;
  }
}

.login-form button {
  width: 100%;
  margin-top: 44px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 24px;
  padding-bottom: 24px;
  border: 1px solid $brand-color;
  background-color: $brand-color;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: $white;
  cursor: pointer;

  @media (max-width: $mobile-width-max) {
    margin-top: 34px;
  }

  &:hover,
  &:focus {
    opacity: 0.7;
  }
}

.login-form__sign-up-text {
  margin-top: 15px;
  margin-left: 53px;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: $gray-light;

  @media (max-width: $mobile-width-max) {
    margin-left: 0;
    text-align: center;
  }
}

.login-form__sign-up-link {
  margin-left: 6px;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: $text-color;

  @media (max-width: $mobile-width-max) {
    margin-left: 2px;
  }

  &:hover,
  &:focus {
    color: $brand-color;
  }
}

// .login-form button {
//   width: 100%;
//   margin-bottom: 36px;
//   padding-left: 18px;
//   padding-right: 19px;
//   padding-top: 15px;
//   padding-bottom: 13px;
//   border: 1px solid #ffffff;
//   border-radius: 5px;
//   background-color: transparent;
//   font-family: $title-font-family;
//   font-weight: 700;
//   font-size: 14px;
//   line-height: 16px;
//   letter-spacing: 0.05em;
//   text-transform: uppercase;
//   text-align: center;
//   color: $white;
//   cursor: pointer;

//   &:hover,
//   &:focus {
//     opacity: 0.7;
//   }
// }

// .login-form input[type="checkbox"] {
//   display: inline-block;
//   appearance: none;
//   width: 16px;
//   height: 16px;
//   margin-right: 24px;
//   padding: 0;
//   border: 1px solid $white;
//   vertical-align: top;
//   background-color: transparent;
//   color: $white;
//   cursor: pointer;

//   &:checked {
//     background-image: url("../img/tick.svg");
//     background-repeat: no-repeat;
//     background-size: 9px 6px;
//     background-position: center;
//   }

//   &:hover,
//   &:focus {
//     box-shadow: none;
//     opacity: 0.7;
//   }
// }

// .login-form input[type="checkbox"] + label {
//   display: inline-block;
//   width: 340px;
//   margin-top: -1px;
//   vertical-align: baseline;
//   font-size: 14px;
//   line-height: 16px;
//   opacity: 0.8;
//   cursor: pointer;
// }
