.login-header__link {
  margin-left: -1px;
  margin-right: 10px;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  color: $text-color;

  @media (max-width: $tablet-width-max) {
    margin-left: 0;
    font-size: 18px;
    line-height: 130%;
    color: $white;
  }
}
