.login-form form {
  display: flex;
  flex-wrap: wrap;
}

.login-form input,
.login-form textarea {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  padding-top: 9px;
  padding-bottom: 8px;
  border: none;
  border-bottom: 1px solid $gray-dark;
  background-color: transparent;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: $gray-light;

  &::placeholder {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: $gray-light;
  }

  &:hover,
  &:focus {
    box-shadow: 0 0 0 3px $brand-color;
  }
}

.login-form input[type="email"] {
  margin-bottom: 25px;

  @media (max-width: $mobile-width-max) {
    margin-bottom: 21px;
  }
}

.login-form input[type="password"] + a {
  margin-top: 6px;
  margin-left: auto;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: $gray-light;

  &:hover,
  &:focus {
    color: $brand-color;
  }
}

.login-form button {
  width: 100%;
  margin-top: 44px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 24px;
  padding-bottom: 24px;
  border: 1px solid $brand-color;
  background-color: $brand-color;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: $white;
  cursor: pointer;

  @media (max-width: $mobile-width-max) {
    margin-top: 34px;
  }

  &:hover,
  &:focus {
    opacity: 0.7;
  }
}

.login-form__sign-up-text {
  margin-top: 15px;
  margin-left: 53px;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: $gray-light;

  @media (max-width: $mobile-width-max) {
    margin-left: 0;
    text-align: center;
  }
}

.login-form__sign-up-link {
  margin-left: 6px;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: $text-color;

  @media (max-width: $mobile-width-max) {
    margin-left: 2px;
  }

  &:hover,
  &:focus {
    color: $brand-color;
  }
}
