.login-modal__window {
  width: 430px;
  margin: auto;
  // margin-top: 100px; // Временно

  @media (max-width: $tablet-width-max) {
    width: 442px;
    // margin-top: 80px; // Временно
  }

  @media (max-width: $mobile-width-max) {
    width: 270px;
    // margin-top: 50px; // Временно
  }
}

.login-modal__content {
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 198px;
  padding-bottom: 40px;
  background-image: url("../img/sweet-ice-cream-photography-desktop-bg@1x.jpg");
  background-size: 100% 138px;
  background-position: top center;
  background-repeat: no-repeat;
  background-color: #f0eae4;
  box-shadow: 0 5px 32px rgba(226, 221, 215, 0.24);

  @media (max-width: $tablet-width-max) {
    padding-left: 51px;
    padding-right: 51px;
    background-image: url("../img/sweet-ice-cream-photography-tablet-bg@1x.jpg");
  }

  @media (max-width: $mobile-width-max) {

    padding-top: 129px;
    padding-bottom: 25px;
    padding-left: 15px;
    padding-right: 15px;
    background-image: url("../img/sweet-ice-cream-photography-mobile-bg@1x.jpg");
    background-size: 100% 84px;
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/sweet-ice-cream-photography-desktop-bg@2x.jpg");

    @media (max-width: $tablet-width-max) {
      background-image: url("../img/sweet-ice-cream-photography-tablet-bg@2x.jpg");
    }

    @media (max-width: $mobile-width-max) {
      background-image: url("../img/sweet-ice-cream-photography-mobile-bg@2x.jpg");
    }
  }
}

.login-modal__title {
  margin: 0;
  margin-top: -10px;
  margin-bottom: 25px;
  text-align: center;
  font-family: $title-font-family;
  font-weight: bold;
  font-size: 34px;

  @media (max-width: $mobile-width-max) {
    margin-top: -8px;
    margin-bottom: 18px;
    font-size: 24px;
  }
}
