.page-header {
  @include container();
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-top: 30px;
  padding-bottom: 21px;

  @media (max-width: $tablet-width-max) {
    padding-bottom: 30px;
  }

  @media (max-width: $mobile-width-max) {
    padding-top: 20px;
    padding-bottom: 6px;
  }
}

.page-header--menu-open {
  @media (max-width: $tablet-width-max) {
    background-color: $brand-color;
  }
}

.page-header__burger {
  margin-top: 24px;

  @media (max-width: $mobile-width-max) {
    margin-top: 17px;
  }
}

.page-header--menu-open .page-header__burger {
  @media (max-width: $tablet-width-max) {
    order: 1;
  }
}

.page-header__search {
  width: 200px;
  margin-top: 24px;

  @media (max-width: $tablet-width-max) {
    display: none;
  }
}

.page-header--menu-open .page-header__search {
  @media (max-width: $tablet-width-max) {
    order: 4;
    display: block;
    width: 100%;
  }
}

.page-header__logo {
  margin-left: calc(50% - 233px);
  margin-right: auto;
  min-width: 66px;
  width: 66px;
  height: 66px;

  @media (max-width: $tablet-width-max) {
    margin-left: calc(50% - 58px);
  }

  @media (max-width: $mobile-width-max) {
    margin-left: calc(50% - 51px);
  }
}

.page-header--menu-open .page-header__logo {
  @media (max-width: $tablet-width-max) {
    order: 2;
  }
}

.page-header__login {
  margin-top: 24px;
  margin-left: auto;
  margin-right: 28px;

  @media (max-width: $tablet-width-max) {
    display: none;
  }
}

.page-header--menu-open .page-header__login {
  @media (max-width: $tablet-width-max) {
    order: 7;
    display: block;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }
}

.page-header__cart {
  margin-top: 24px;

  @media (max-width: $tablet-width-max) {
    margin-top: 24px;
    margin-right: -1px;
  }

  @media (max-width: $mobile-width-max) {
    margin-top: 17px;
  }
}

.page-header--menu-open .page-header__cart {
  @media (max-width: $tablet-width-max) {
    order: 3;
  }
}

.page-header__menu {
  width: 100%;
  margin-top: 50px;
}

.page-header--menu-open .page-header__menu {
  @media (max-width: $tablet-width-max) {
    order: 5;
    margin-top: 55px;
    margin-bottom: 55px;
  }

  @media (max-width: $mobile-width-max) {
    margin-top: 45px;
    margin-bottom: 45px;
  }
}

.page-header__small-menu {
  display: none;
}

.page-header--menu-open .page-header__small-menu {
  @media (max-width: $tablet-width-max) {
    order: 6;
    display: block;
    width: 100%;
    margin-bottom: 45px;
  }
}

.page-header--absolute {
  position: absolute;
  z-index: 1;
  height: 100vh;
  overflow-y: scroll;
}
