.previews {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 60px;

  @media (max-width: $tablet-width-max) {
    flex-wrap: wrap;
    justify-content: center;
  }

  @media (max-width: $mobile-width-max) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 50px;
  }
}

.previews__col {
  width: 48.72%;

  @media (max-width: $tablet-width-max) {
    width: 678px;
  }

  @media (max-width: $mobile-width-max) {
    width: 290px;
  }

  &--left {
    margin-right: 1.28%;

    @media (max-width: $tablet-width-max) {
      margin-right: 0;
    }
  }

  &--right {
    margin-left: 1.28%;

    @media (max-width: $tablet-width-max) {
      margin-left: 0;
    }
  }

}

.previews__item {
  width: 100%;
}
