.products-slider {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 60px;

  @media (max-width: $tablet-width-max) {
    margin-top: 50px;
  }

  @media (max-width: $mobile-width-max) {
    margin-top: 40px;
  }
}

.products-slider__arrows {
  @media (max-width: $mobile-width-max) {
    display: none;
  }
}

.products-slider__arrow-left,
.products-slider__arrow-right {
  position: absolute;
  top: -108px;
  width: 30px;
  height: 11px;
  padding: 0;
  border: 0;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: transparent;

  @media (max-width: $tablet-width-max) {
    width: 36px;
    height: 15px;
    top: -97px;
  }
}

.products-slider__arrow-left {
  left: -16px;
  background-image: url("../img/arrow-left-brown-icon.svg");

  @media (max-width: $tablet-width-max) {
    left: 0;
  }
}

.products-slider__arrow-right {
  right: 0;
  background-image: url("../img/arrow-right-brown-icon.svg");
}

.products-slider__list-wrapper {
  width: 100%;
  overflow-x: hidden;
}

.products-slider__list {
  @include list-reset();
}

.products-slider__pages-list {
  @include list-reset();
  display: flex;
  align-self: center;
  margin-top: 53px;

  @media (max-width: $tablet-width-max) {
    margin-top: 43px;
  }

  @media (max-width: $mobile-width-max) {
    margin-top: 33px;
  }
}

.products-slider__pages-button {
  border: 0;
  background-color: transparent;
  font-weight: 500;
  color: #9b9997;
  cursor: pointer;

  &--current {
    color: $black;
    cursor: default;
  }

  &:hover,
  &:focus {
    color: $black;
  }
}
