.product-info__title {
  margin: 0;
  margin-top: -10px;
  margin-bottom: 13px;
  font-family: $title-font-family;
  font-weight: bold;
  font-size: 34px;
}

.product-info__price {
  margin: 0;
  font-size: 26px;
}

.product-info__descr {
  margin-top: 38px;
  margin-bottom: 50px;

  @media (max-width: $mobile-width-max) {
    margin-top: 28px;
    margin-bottom: 41px;
  }
}

.product-info__add-button {
  display: block;
}

.product-info__terms {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 19px;

  @media (max-width: $tablet-width-max) {
    margin-top: 16px;
  }

  @media (max-width: $mobile-width-max) {
    margin-top: 12px;
  }
}

.product-info__term-single {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  color: $gray-light;

  @media (max-width: $tablet-width-max) {
    font-size: 12px;
  }

  @media (max-width: $mobile-width-max) {
    max-width: 60px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
  }
}
