.product-descr__titles-list {
  @include list-reset();
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 22px;
}

.product-descr__title-single {
  margin-right: 35px;
  font-weight: 500;
  font-size: 16px;
  color: $gray-light;

  &:last-child {
    margin-right: 0;
  }

  &--current {
    color: $text-color;
  }
}

.product-descr__content {
  margin: 0;
}

.product-descr__property {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #f6f5f4;
}

.product-descr__property-name {
  font-weight: 500;
  font-size: 14px;
}

.product-descr__property-value {
  font-weight: 400;
  font-size: 14px;
}
