.products-slider {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 60px;

  @media (max-width: $tablet-width-max) {
    margin-top: 50px;
  }

  @media (max-width: $mobile-width-max) {
    margin-top: 40px;
  }
}

.products-slider__arrows {
  @media (max-width: $mobile-width-max) {
    display: none;
  }
}

.products-slider__arrow-left,
.products-slider__arrow-right {
  position: absolute;
  top: -108px;
  width: 30px;
  height: 11px;
  border: 0;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: 30px 11px;
  background-color: transparent;
}

.products-slider__arrow-left {
  left: -16px;
  background-image: url("../img/arrow-left-brown-icon.svg");
}

.products-slider__arrow-right {
  right: 0;
  background-image: url("../img/arrow-right-brown-icon.svg");
}

.products-slider__list-wrapper {
  width: 100%;
  overflow-x: hidden;

  // @media (max-width: $tablet-width-max) {
  //   overflow-x: scroll;
  // }
}

.products-slider__list {
  @include list-reset();
  // display: flex;
  // flex-wrap: nowrap;
  // min-width: 100%;
  // margin-left: -1.28%;
  // margin-right: -1.28%;
  // margin-bottom: 53px;

  // @media (max-width: $tablet-width-max) {
  //   margin-left: -2.21%;
  //   margin-right: -2.21%;
  //   margin-bottom: 43px;
  // }

  // @media (max-width: $mobile-width-max) {
  //   margin-left: -5.17%;
  //   margin-right: -5.17%;
  //   margin-bottom: 33px;
  // }
}

.products-slider__item {
  // width: 22.5%;
  // // width: 23.08%;
  // // margin-left: 1.25%;
  // margin-right: 2.5%;
  // // margin-left: 1.28%;
  // // margin-right: 1.28%;

  // @media (max-width: $tablet-width-max) {
  //   width: 45.76%;
  //   // width: 47.79%;
  //   margin-left: 2.12%;
  //   margin-right: 2.12%;
  //   // margin-left: 2.21%;
  //   // margin-right: 2.21%;
  // }

  // @media (max-width: $mobile-width-max) {
  //   width: 40.625%;
  //   // width: 44.83%;
  //   margin-left: 4.69%;
  //   margin-right: 4.69%;
  //   // margin-left: 5.17%;
  //   // margin-right: 5.17%;
  // }

  // &:first-child {
  //   margin-left: -100px;
  // }
}

.products-slider__pages-list {
  @include list-reset();
  display: flex;
  align-self: center;
}

.products-slider__pages-button {
  border: 0;
  background-color: transparent;
  font-weight: 500;
  color: #9b9997;
  cursor: pointer;

  &--current {
    color: $black;
    cursor: default;
  }

  &:hover,
  &:focus {
    color: $black;
  }
}
