.product-card {
  @include container();
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  margin-top: 80px;

  @media (max-width: $tablet-width-max) {
    margin-top: 30px;
  }

  @media (max-width: $mobile-width-max) {
    flex-wrap: wrap;
    margin-top: 0;
  }
}

.product-card__gallery {
  flex-shrink: 0;
  width: 600px;

  @media (max-width: $tablet-width-max) {
    width: 319px;
  }

  @media (max-width: $mobile-width-max) {
    width: 100%;
    margin-bottom: 50px;
  }
}

.product-card__info {
  width: 370px;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: 1166px) {
    margin-left: 50px;
  }

  @media (max-width: $tablet-width-max) {
    width: calc(100% - 319px - 40px);
    margin-left: 40px;
  }

  @media (max-width: $mobile-width-max) {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}
