.search {
  margin-top: 12px;
}

.search__form input {
  padding-left: 29px;
  border: none;
  font-size: 14px;
  font-weight: 500;
  color: $gray-light;
  background-image: url("../img/loupe-icon.svg");
  background-size: 14px 15px;
  background-repeat: no-repeat;
  background-position: left center;

  @media (max-width: $tablet-width-max) {
    width: 100%;
    padding: 12px;
    padding-left: 40px;
    border-radius: 21px;
    color: $white;
    background-image: url("../img/loupe-white-icon.svg");
    background-size: 16px 16px;
    background-color: rgba(255, 255, 255, 0.15);
    background-position: left 12px center;

    &::placeholder {
      color: transparent;
    }
  }
}
