.small-menu__list {
  @include list-reset();
}

.small-menu__item {
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }
}

.small-menu__link {
  font-weight: 500;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.75);
}
