// Вычисление внешних паддингов
@function calc-external-padding($base-padding) {
  @return calc(50% - (#{$desktop-width-max} / 2) + #{$base-padding});
}

@function calc-percent-width($width, $version) {
  @if $version == "desktop" {
    $content-width: $desktop-width-min - ($desktop-external-paddings * 2) !global;
    // @return $content-width;
  }
  @else if $version == "tablet" {
    $content-width: $tablet-width-min - ($tablet-external-paddings * 2) !global;
  }
  @else {
    $content-width: $mobile-width-min - ($mobile-external-paddings * 2) !global;
  }
  @return $width / ($content-width / 100%);
}
