//Breakpoints
$desktop-width-max: 1366px;
$desktop-width-min: 1024px;
$tablet-width-max: 1023px;
$tablet-width-min: 768px;
$mobile-width-max: 767px;
$mobile-width-min: 320px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

//Font
$title-font-family: "Cormorant Garamond", "Times New Roman", sans-serif;
$text-font-family: "Poppins", "Arial", sans-serif;

$text-font-size: 16px;
$small-font-size: 14px;
$h2-font-size: 34px;

$text-line-height: 130%;


//Colors
$brand-color: #a87b62;
$brand-color-dark: #64a83b;

$white: #ffffff;
$black: #000000;
$text-black: #1d1613;

//Sizes
$mobile-external-paddings: 15px;
$tablet-external-paddings: 45px;
$desktop-external-paddings: 98px;
