//Breakpoints
$desktop-width-max: 1266px; // content = 1170px
$desktop-width-middle: 1150px; // content = 1054px
$desktop-width-min: 1024px; // content = 828px
$tablet-width-max: 1023px; // content = 933px
$tablet-width-min: 768px; // content = 678px
$mobile-width-max: 767px; // content = 737px
$mobile-width-min: 320px; // content = 290px


$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

//Font
$title-font-family: "Cormorant Garamond", "Times New Roman", sans-serif;
$text-font-family: "Poppins", "Arial", sans-serif;

$text-font-size: 16px;
$small-font-size: 14px;
$h2-font-size: 34px;

$text-line-height: 1.3;


//Colors
$brand-color: #a87b62;

$white: #ffffff;
$gray-light: #9b9997;
$gray-dark: #1d1613;
$black: #000000;

$text-color: $gray-dark;

//Sizes
$mobile-external-paddings: 15px;
$tablet-external-paddings: 45px;
$desktop-external-paddings: 48px;
